# .gitignore
# Python Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Generated Data & Audio
ml_pipeline/data/inputs/*.wav
ml_pipeline/data/outputs/
ml_pipeline/data/parameters.json

# C++ Compiled Binaries
# (For when you compile your FrictionalEngine)
*.o
*.obj
*.exe
*.out
*.app
*.dylib
*.dll
*.aax

# OS Junk Files
.DS_Store
Thumbs.db

# CMake & Build Artifacts
build/
builds/
out/
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

# Compiled Audio Plugins
*.vst3
*.component

# JUCE Specific
JuceLibraryCode/

